body {margin:0;}
#editor { 
        margin: 0;
        position: absolute;
        top: 52px;
        bottom: 0;
        left: 0;
        right: 0;
    }

.nav, .pagination, .carousel a { cursor: pointer; }

.todo td{background-color: lightblue !important;}
.done td {background-color: lightgray !important;}
.doing td {background-color: lightgreen !important;}