body {
  margin: 0;
  font-family: 'Source Sans Pro','Oxygen-Sans', Cantarell, Ubuntu, 'Helvetica Neue', Helvetica, Calibri, Verdana, Arial, sans-serif;
  font-size: 16px;
  color: #54595a;
  background-color: #fff;
  overflow-y: hidden;
  -webkit-user-select: none;
}

#toolbar {
  border-radius: 0;
  border-width: 0 0 1px 0;
  margin-bottom: 0;
}

navbar-header {
  width: 100%;
  height: 52px;
}

.navbar-flex, #enter-task, #enter-task-div, #search-form, #editor {
  display: flex;
}

.navbar-default {
  background-color: #ededed;
  background-image: none;
  border-color: #a1a1a1;
}

.spacer {
  flex: 1;
}

.slider {
  overflow-y: hidden;
  height: 46px;
  transition: height .1s linear;
}

.slider.closed {
  height: 0px;
  transition: height .1s linear;
}

#editor textarea {
  width: 100%;
  height: 100%;
}

#editor {
  margin: 0;
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
}

#tasks {
  display: flex;
}

#task-sidebar {
  width: 300px;
  background-color: #fafafa;
  border-left: 1px solid #a1a1a1;
  transition: width .1s linear;
  overflow-x: hidden;
}

#task-sidebar.closed {
  width: 0;
  transition: width .1s linear;
  overflow-x: hidden;
  border: none;
}

#details {
  padding: 0 10px;
}

#details div:hover, #details h4:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.details-left {
  margin-right: 5px;
}

.sidebar-input {
  height: 32px;
  width: 80%;
  display: inline;
}

#sidebar-body pre {
  color: inherit;
  tab-size: 4;
  white-space: pre-wrap;
  font-size: inherit;
  background-color: inherit;
  word-wrap: break-word;
  padding: 0;
  border: none;
  font-family: inherit;
}

#sidebar-body textarea {
  width: 100%;
  height: 225px;
  border-radius: 0;
  background-color: white;
  font-size: inherit;
  resize: none;
}

#sidebar-task-state, #sidebar-task-project {
  width: auto;
  display: inline-block;
}

#task-sidebar span.fa {
  margin-left: 5px;
}

#list {
  flex: 1;
}

table, tbody, tr {
  width: 100%;
}

#list table {
  margin: 0;
  cursor: default;
}

#list, #task-sidebar {
  overflow-y: auto;
  height: calc(100vh - 50px);
}

#list:hover {
  outline: none;
}

.nav, .pagination, .carousel, .hover-button {
  cursor: pointer;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: middle;
  padding: 10px;
}

td.taskstate {
  width: 64px;
}

td.rank {
  width: 32px;
}

.kanban-column {
  background-color: #ddd;
}

.kanban-column tr {
  background-color: #fff;
}

.kanban-column td {
  padding: 8px;
  line-height: 1.428571143;
  border-top: 1px solid #ddd;
}

#kanban-row:hover {
  background-color: transparent;
  cursor: default;
}

.todo td {
  background-color: #d9edf7 !important;
  color: #31708f;
}

.doing td {
  background-color: #dff0d8 !important;
  color: #3c763d;
}

.done td {
  color: #777 !important;
  text-decoration: line-through;
}

.selected, tr.selected, .selected>td>span.hover-button {
  background-color: #729FCF;
  color: white;
}

tr:nth-child(2) {
  width: 100%;
}

tr {
  background-color: white;
}

tr:hover {
  background-color: #f2f2f2;
}

tr.selected:hover, .selected:hover>td>span.hover-button {
  background-color: #4281c3;
}

.table>thead>tr>th.kanban-column, .table>tbody>tr>th.kanban-column, .table>tfoot>tr>th.kanban-column, .table>thead>tr>td.kanban-column, .table>tbody>tr>td.kanban-column, .table>tfoot>tr>td.kanban-column {
  width: 30%;
  vertical-align: top;
}

#enter-task {
  margin: 0;
  width: 100%;
}

#enter-task input, #enter-task select {
  margin-right: 8px;
  height: 32px;
}

#enter-headline {
  width: 45%;
  flex: 1;
}

#enter-task-status {
  width: 116px;
}

#enter-task-div, #search-form {
  background-color: #d6d6d6;
  border-bottom: 1px solid #a1a1a1;
}

#search-form, #enter-task-div, enter-task {
  align-items: center;
  justify-content: center;
  margin-top: -1px;
}

#enterTask, #search-form.row {
  margin-top: 20px;
}

#enterTask div {
  padding-right: 0;
}

#search-input {
  padding-left: 30px;
  width: 300px;
  height: 32px;
}

#search-input {
  background: url('./img/search.png') no-repeat scroll 9px 7px;
  background-color: #fff;
}

#search-input-icon {
  position: absolute;
  left: 0px;
  padding: 8px 27px;
  background-image: url('./img/folder-saved-search-symbolic.svg');
  background-color: white;
}

.empty-list-image {
  overflow: hidden;
  height: 100%;
}

.empty-list {
  vertical-align: middle;
  text-align: center;
  margin-top: 13%;
  width: 100%;
}

.kanban-row td.kanban-column:nth-child(2) .empty-list, .kanban-row td.kanban-column:last-child .empty-list {
  display: none;
}

.project-tag {
  font-weight: normal;
  color: #4281c3;
  padding-left: 0;
}

.fin {
  font-weight: normal;
  color: #f27835;
}

.deadline {
  font-weight: normal;
  float: right;
  color: #ccc;
  padding-top: 7px;
}

tr.selected:hover .project-tag {
  color: #729FCF;
}

.btn, .btn:active, .btn:focus, select.form-control {
  background-image: linear-gradient(to bottom, #fafafa 0%, #ededed 40%, #e0e0e0 100%);
  border-radius: 3px;
  color: #2e3436;
  box-shadow: inset 0 1px white, 0 1px white;
  margin-left: 3px;
  font-size: 16px;
  line-height: 14px;
}

.btn:focus, .btn:focus:active, .btn.active:focus, .btn-group>.btn:focus, .btn-group-vertical>.btn:focus, select.form-control:focus {
  outline-color: rgba(46,52,52,0.3);
  outline-offset: -4px;
  outline-style: dashed;
  outline-width: 1px;
}

.btn.active, .btn.active:hover, .btn:hover:active, select.form-control:hover:active {
  background-image: linear-gradient(#d6d6d6, #e0e0e0);
  border-radius: 3px;
  color: #2e3436;
  box-shadow: none;
  font-size: 16px;
}

.btn-default, .btn-default:focus, .btn-default:active, .btn-default:focus:active, select.form-control {
  border-color: #a1a1a1;
  icon-shadow: 0 1px rgba(256, 256, 256, 0.76923);
  text-shadow: 0 1px rgba(256, 256, 256, 0.76923);
  outline-offset: -4px;
  padding: 8px 16px;
  transition: all 200ms ease-out;
  background-color: transparent;
  background-position: 0;
}

.btn-default:hover, select:hover {
  background-image: linear-gradient(to bottom, white 0%, #f7f7f7 40%, #ededed 100%);
  background-position: 0;
}

.btn-default.active, .btn-default.active:hover, .btn-default:hover:active, select.form-control:active, select.form-control:hover:active {
  border-color: #a1a1a1;
  icon-shadow: 0 1px rgba(256, 256, 256, 0.76923);
  text-shadow: 0 1px rgba(256, 256, 256, 0.76923);
  outline-offset: -4px;
  transition: all 200ms ease-out;
}

.btn-square, .btn-square:hover, .btn-square.active, .btn-square.active:hover, .btn-square:active, .btn-square:hover:active, btn-square:focus {
  padding: 8px 7px !important;
  font-size: 13px !important;
  margin-left: 6px !important;
}

select.form-control {
  padding: 4px 16px;
}

select.form-control:focus {
  border-color: #a1a1a1;
}

.btn-link, .btn-link:focus, btn-link:active {
  text-decoration: underline;
  background: none;
  color: #2a76c6;
  box-shadow: none;
}

.btn-link:hover {
  color: #4a90d9;
}

#show-enterTask {
  padding: 8px 8px 8px 10px !important;
}

*:before {
  font-size: 13px;
}

table td .glyphicon-chevron-up {
  border: 1px solid transparent;
  padding: 8px;
  padding-left: 9px;
  color: #54595a;
}

.glyphicon-chevron-down, .hover-button {
  border: 1px solid transparent;
  padding: 8px;
  padding-left: 9px;
  color: #54595a;
}

table td .glyphicon-chevron-down {
  padding-left: 8px;
  color: #54595a;
}

table td .glyphicon-chevron-up:hover, table td .glyphicon-chevron-down:hover {
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, white 0%, #f7f7f7 40%, #ededed 100%);
}

.hover-button:hover {
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, white 0%, #f7f7f7 40%, #ededed 100%);
}

.selected>td>span.hover-button:hover {
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, white 0%, #f7f7f7 40%, #ededed 100%);
  color: #54595a;
}

btn-group>.btn:first-child, .btn-group>.btn:last-child {
  width: 100px;
}

.btn-group>.btn {
  width: 98px;
  height: 32px;
  padding-top: 7px !important;
}

.todo td glyphicon-chevron-up, .todo td glyphicon-chevron-down, .doing td glyphicon-chevron-up, .doing td glyphicon-chevron-down, .done td glyphicon-chevron-up, .done td glyphicon-chevron-down, .selected td glyphicon-chevron-up, .selected td glyphicon-chevron-down, tr:hover td glyphicon-chevron-up, tr:hover td glyphicon-chevron-down {
  border-color: transparent;
}

table td .glyphicon-chevron-up:focus, table td .glyphicon-chevron-down:focus {
  outline: rgba(46, 52, 54, 0.3) 1px dashed !important;
  outline-offset: -4px;
}

.form-control {
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  box-shadow: inset 0 3px transparent;
  background-color: transparent;
  background-image: linear-gradient(#f7f7f7, #ffffff 90%);
  transition: all 200ms ease-out;
}

.form-control:focus {
  border-color: #4a90d9;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.02);
}

#show-enter-task span:before {
  content: "+";
  font-weight: bold;
}

#editor-area, .datepicker.dropdown-menu {
  font-family: 'Source Code Pro', Consolas, 'Ubuntu Mono', 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
}

.fa-fw:before {
  font-size: 14px;
}

.datepicker table {
  font-size: 12px;
  font-weight: normal;
}

.datepicker table tr td.active.active {
  background-color: #4a90d9;
  border-color: #4a90d9;
}

.datepicker th {
  font-weight: normal;
}

.datepicker thead tr:first-child {
  border-bottom: 1px solid #ddd;
}

.datepicker tr:hover {
  background-color: inherit;
}

.datepicker td:hover {
  background-color: #f2f2f2;
}

#close {
  display: none;
}